body {
    font-family: 'Gilam', sans-serif;
    background-color: #171717;
    color: #FFFFFF;
}

.container {
    margin: 0 auto;
    width: 1460px;
    height: 4000px;
    background-color: #171717;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 205px;
}

.header_logo {
    margin-top: 46px;
}

.header_ref {
    margin-top: 37px;
    padding-top: 9px;
    text-align: center;
    width: 216px;
    height: 39px;
    border: 1px solid #E4B564;
    text-decoration: none;
    user-select: none;
}

.header_ref:focus {
    outline: none;
}

.header_ref:active {
    transform: scale(0.97, 0.97);
    transition: transform 0.1s ease;
}

.header_ref_text {
    margin-left: 5px;
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    
}

.network_header_h2 {
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.network_text {
    margin-top: 39px;
    width: 1182px;
    height: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.network_grid {
    margin-top: 41px;
    height: 963px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 27px;
    column-gap: 30px;
}

.network_grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    background-color: rgb(236, 135, 140);
}

.net_item1 {
    background: rgba(99, 79, 44, 1);    
}

.net_item2 { 
    grid-column: 2/4;
    grid-row: 1/2;
    background: rgba(180, 163, 133, 1);
}

.net_item3 {
    background: rgba(228, 181, 100, 1);
}

.net_item4 {
    grid-column: 1/3;
    grid-row: 2/3;
    background: rgba(99, 90, 74, 1);
}

.net_item5 {
    grid-column: 3/5;
    grid-row: 2/3;
    background: rgba(176, 140, 77, 1);
}

.equipment_header_h2 {
    margin-top: 162px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.equipment_grid {
    margin-top: 93px;
    height: 897px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 255px 31px 101px 130px 277px;
    row-gap: 26px;
    column-gap: 30px;
}

.equipment_grid_item1 {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 44px 53px;
    background: rgba(14, 14, 14, 1);
}

.equip_item_car {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.equip_item_type {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.equipment_grid_item2 {
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 44px 52px;
    background: rgba(36, 36, 36, 1);
}

.equipment_grid_item3 {
    padding: 44px 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    background: rgba(31, 31, 31, 1);
}

.equipment_grid_item4 {
    grid-column: 1/2;
    grid-row: 3/6;
    padding: 56px 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    background: rgba(31, 31, 31, 1);
}

.equipment_grid_item5 {
    margin-top: 6px;
    margin-bottom: 20px;
    padding: 48px 52px;
    grid-column: 2/3;
    grid-row: 4/6;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    background: rgba(228, 181, 100, 1);    
}

.equipment_grid_item6 {
    grid-column: 3/4;
    grid-row: 2/5;
    padding: 44px 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    background: rgba(14, 14, 14, 1);
}

.equipment_grid_item7 {
    grid-column: 3/4;
    grid-row: 5/6;
    padding: 44px 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    background: rgba(10, 9, 9, 1);
}

.projects {
    margin-top: 192px;
    background: rgba(14, 14, 14, 1);
}

.projects_header {
    height: 272px;
    display: flex;
    justify-content: space-between;
}

.projects_header_h2 {
    margin-top: 174px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.project_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 161px;
    width: 179px;
    height: 49px;
    border: 1px solid rgba(228, 181, 100, 1);
    color: rgba(228, 181, 100, 1);
    cursor: pointer;
    user-select: none;
}

.project_button:active {
    transform: scale(0.97, 0.97);
    transition: transform 0.1s ease;
}

.project_grid {
    height: 782px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project_grid_item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(99, 79, 44, 1);
}

.project_grid_item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(232, 210, 171, 0.76);
}

.project_item_text1 {
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.project_item_text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.project_grid_item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(228, 181, 100, 1);
}

.project_grid_item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(99, 90, 74, 1);
}

.project_grid_item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(176, 140, 77, 1);
}

.project_grid_item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(99, 79, 44, 1);
}